# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# Node
node_modules/

# Builds
dist/
build/
out/

# Coverage
coverage/

# SQLite (no versionar DB local)
*.db
*.db-journal

# Prisma cache (opcional)
prisma/.cache/

coverage/
